#list-component {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%,-50%);
  ul {
    position: relative;
    padding-left: 0;
    margin: 0;
    height: 33.33vw;
    width: 39vw;

    a.hexagon {
      position: absolute;
      height: 33.33vw;
      width: 39vw;
      transition: all ease-out 400ms;
      z-index: 1;
      cursor: pointer;
      &:hover {
        z-index: 2;
        transform: translateY(-10px);
      }
      .hex-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) rotate(60deg);
        transform-origin: center;
        overflow: hidden;
        width: 39vw;
        height: 33.33vw;
        background-color: transparent;
      }
      div {
        div {
          div.hex-inner {
            transform: translate(-50%,-50%) rotate(240deg);
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            background: url('/img/coffee-image-placeholder.jpg');
            background-size: cover;
            p {
              color: white;
              font-size: 3vw;
              user-select: none;
              @media (max-width: 400px) {
                font-size: 3.6vw;
              }
            }
          }
        }
      }
    }
  }
}
