#search-bar {
  display: flex;
  position: absolute;
  top: 2vw;
  left: 2vw;
  z-index: 1;
  form {
    position: relative;
    display: flex;
    width: 96vw;
    > div#PlacesAutocomplete__root {
      display: flex;
      width: 78vw;
      padding-right: 0 !important;
      input {
        padding: 0 0 0 2vw !important;
        margin: 0 !important;
        line-height: 36px;
        margin: 0;
        border: 0;
        font-family: 'Raleway', sans-serif;
        font-size: 3.5vw;
        @media (min-width: 600px) {
          font-size: 3vw;
        }
        @media (min-width: 800px) {
          font-size: 2.7vw;
        }
        &:focus {
          background: #fefefe;
          outline: none;
        }
      }
    }
    > button {
      position: absolute;
      right: 0;
      background: white;
      line-height: 36px;
      border: 0;
      padding: 0 !important;
      width: 18vw;
      z-index: 1;
      font-family: 'Raleway', sans-serif;
      font-size: 3.5vw;
      @media (min-width: 600px) {
        font-size: 3vw;
      }
      @media (min-width: 800px) {
        font-size: 2.7vw;
      }

      cursor: pointer;
      &:hover {
        background: #fefefe;
        outline: none;
      }
      &:focus {
        outline: none;
      }
    }
  }
}
