body {
  margin: 0;
  display: flex;
  font-family: 'Raleway', sans-serif; }

main {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: #f6f5f3;
  overflow: hidden; }

section > div {
  max-width: 1080px;
  min-width: 320px; }

li {
  list-style: none; }

#search-bar {
  display: flex;
  position: absolute;
  top: 2vw;
  left: 2vw;
  z-index: 1; }
  #search-bar form {
    position: relative;
    display: flex;
    width: 96vw; }
    #search-bar form > div#PlacesAutocomplete__root {
      display: flex;
      width: 78vw;
      padding-right: 0 !important; }
      #search-bar form > div#PlacesAutocomplete__root input {
        padding: 0 0 0 2vw !important;
        margin: 0 !important;
        line-height: 32px;
        margin: 0;
        border: 0;
        font-family: 'Raleway', sans-serif; }
        #search-bar form > div#PlacesAutocomplete__root input:focus {
          background: #fefefe;
          outline: none; }
    #search-bar form > button {
      position: absolute;
      right: 0;
      background: white;
      line-height: 32px;
      border: 0;
      padding: 0 !important;
      width: 18vw;
      z-index: 1;
      font-family: 'Raleway', sans-serif;
      cursor: pointer; }
      #search-bar form > button:hover {
        background: #fefefe;
        outline: none; }
      #search-bar form > button:focus {
        outline: none; }

#results-list {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%); }
  #results-list ul {
    position: relative;
    padding-left: 0;
    margin: 0;
    height: 33.33vw;
    width: 39vw; }
    #results-list ul a.hexagon {
      position: absolute;
      height: 33.33vw;
      width: 39vw;
      transition: all ease-out 400ms;
      z-index: 1;
      cursor: pointer; }
      #results-list ul a.hexagon:hover {
        z-index: 2;
        transform: translateY(-10px); }
      #results-list ul a.hexagon .hex-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(60deg);
        transform-origin: center;
        overflow: hidden;
        width: 39vw;
        height: 33.33vw;
        background-color: transparent; }
      #results-list ul a.hexagon div div div.hex-inner {
        transform: translate(-50%, -50%) rotate(240deg);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-size: cover; }
        #results-list ul a.hexagon div div div.hex-inner p {
          display: flex;
          justify-content: center;
          align-items: center;
          color: #b96c3e;
          font-size: 4vw;
          user-select: none;
          background: radial-gradient(ellipse at center, black 0%, transparent 40%, transparent 100%);
          width: 100%;
          height: 100%; }
